* {
	margin 0;
	pading 0;
	box-sizing 0;
}
		@font-face {
    font-family: 'Aspira';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf') format('opentype');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff') format('woff');
    font-weight: normal;
    font-style: normal;
		}
main { 
  margin-top: 2rem;
  display: flex;
  margin-bottom: 4rem; 
}
		section { 
			border: 1px solid #777;
			overflow: hidden;
			max-width: 720px;
			position: relative;
			margin: 2rem auto; 
			}
	